/* 
    Document   : style
    Created on : 2014-2-26, 11:08:40
    Author     : Добромир Николов Иванов - nzhul
    Description:
        Purpose of the stylesheet follows.
        Blue: #2297d4;
        Orange: #f2782f;
        Light Blue: #cfe9f6;
*/
body {margin: 0px; padding: 0px;font-family: Tahoma;}
header {position: relative;z-index: 2;}
#topline {width: 100%;height: 13px; background: #2297d4;position: absolute;}
#topbg {width: 100%;height: 261px; background: #424952;position: absolute;top: 13px;}
#buttons {width: 1277px; height: 400px;margin: 0 auto; position: relative;}
#left_blue_corner {position: relative;width: 14px;height: 285px;float: left;margin: 13px 0 0 0px;background: url(../img/left_blue_corner.png)no-repeat;}
#left_gray_corner {position: relative;width: 14px;height: 285px;float: left;margin: 13px 0 0 0px;background: url(../img/left_gray_corner.png)no-repeat;}
#right_gray_corner {position: relative;width: 20px;height: 285px;float: left;margin: 13px 0 0 0px;background: url(../img/right_gray_corner.png)no-repeat;}
#right_orange_corner {position: relative;width: 20px;height: 285px;float: left;margin: 13px 0 0 0px;background: url(../img/right_orange_corner.png)no-repeat;}
#big_divider {position: relative;width: 2px;height: 285px;float:left;margin: 13px 0 0 0px;background: #1c1f22; /* Old browsers */
background: -moz-linear-gradient(left,  #1c1f22 0%, #7a8185 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1c1f22), color-stop(100%,#7a8185)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #1c1f22 0%,#7a8185 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #1c1f22 0%,#7a8185 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #1c1f22 0%,#7a8185 100%); /* IE10+ */
background: linear-gradient(to right,  #1c1f22 0%,#7a8185 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1f22', endColorstr='#7a8185',GradientType=1 ); /* IE6-9 */
}
#buttons a {color: white;text-decoration: none;}
header h1 {font-size: 80px;text-transform: uppercase;width: 614px;height: 245px;display:block; position:relative;float:left; font-weight: normal;
padding: 40px 0 0 0px;text-align: center;color: white;margin: 13px 0 0 0px;background: url(../img/logo_autofint.png)no-repeat; text-indent: -9999px;}
header h4 {font-size: 36px;position:absolute;top: 135px; text-transform: uppercase;float: left;margin: 0 0 0 129px;color: white;font-weight: normal;}
#auto_btn {margin: 0 0 0 770px;}
#auto_btn_1 {background: #2297d4 url(../img/logo_autofint.png)no-repeat 100px 60px;}
#auto_btn_1:hover {background-color: #2297d4;}
#auto_btn_2 {background: #f2782f url(../img/logo_autofint.png)no-repeat 100px 60px;}
#auto_btn_2:hover {background-color: #f2782f;}
#auto_btn_3 {background: #4d5f64 url(../img/logo_autofint.png)no-repeat 100px 60px;}
#auto_btn_3:hover {background-color: #576a70;}
nav {float: left;width: 1300px;height: 88px; margin: -71px 0 0 47px;position: relative;}
nav a {
    display: block;
    float:left;
    padding: 38px 74px 38px 74px;
    border-top: 1px solid #6e7782;
    border-bottom: 1px solid #202529;
background: #474f58; /* Old browsers */
background: -moz-linear-gradient(top,  #474f58 0%, #373d44 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#474f58), color-stop(100%,#373d44)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #474f58 0%,#373d44 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #474f58 0%,#373d44 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #474f58 0%,#373d44 100%); /* IE10+ */
background: linear-gradient(to bottom,  #474f58 0%,#373d44 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474f58', endColorstr='#373d44',GradientType=0 ); /* IE6-9 */
}
nav a:hover{
    border-top: 1px solid #9ca8b7;
    border-bottom: 1px solid #363e44;
    background: #59636e; /* Old browsers */
background: -moz-linear-gradient(top,  #59636e 0%, #454c55 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59636e), color-stop(100%,#454c55)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #59636e 0%,#454c55 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #59636e 0%,#454c55 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #59636e 0%,#454c55 100%); /* IE10+ */
background: linear-gradient(to bottom,  #59636e 0%,#454c55 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59636e', endColorstr='#454c55',GradientType=0 ); /* IE6-9 */
}
nav .navdivider {position: relative;float: left;top: 1px;width: 2px;height: 96px;background: #0d0e11; /* Old browsers */
background: -moz-linear-gradient(left,  #0d0e11 0%, #58626c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0d0e11), color-stop(100%,#58626c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #0d0e11 0%,#58626c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #0d0e11 0%,#58626c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #0d0e11 0%,#58626c 100%); /* IE10+ */
background: linear-gradient(to right,  #0d0e11 0%,#58626c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0e11', endColorstr='#58626c',GradientType=1 ); /* IE6-9 */
}
nav a:first-child {
    padding: 31px 45px 30px 45px;
    background: #586d73; /* Old browsers */
    background: -moz-linear-gradient(top,  #586d73 0%, #445458 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#586d73), color-stop(100%,#445458)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #586d73 0%,#445458 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #586d73 0%,#445458 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #586d73 0%,#445458 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #586d73 0%,#445458 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#586d73', endColorstr='#445458',GradientType=0 ); /* IE6-9 */
}
nav a:first-child:hover {
    background: #667e85; /* Old browsers */
background: -moz-linear-gradient(top,  #667e85 0%, #4e6166 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#667e85), color-stop(100%,#4e6166)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #667e85 0%,#4e6166 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #667e85 0%,#4e6166 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #667e85 0%,#4e6166 100%); /* IE10+ */
background: linear-gradient(to bottom,  #667e85 0%,#4e6166 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#667e85', endColorstr='#4e6166',GradientType=0 ); /* IE6-9 */
}

nav a:last-child {padding: 38px 30px 38px 30px;}

/* SLIDER */
#sliderBox {position:relative;top: -126px;}
.slide {width: 100%;position:relative;z-index: 1;float: left;}
.slide img {width: 100%;z-index:3;}
.slide p {margin: 0 auto;width: 1000px;position: relative;z-index: 4;left: -91px;color: white;margin-top: -450px;}

.slide p .firstRow {font-size: 55px;}
.slide p .secondRow {font-size: 80px; font-weight: bold;position: relative;top: -20px;}

.slide p a.readMore {display: block; background: #2297d4;padding: 22px 9px 27px 32px;width: 176px;height: 18px; text-decoration: none;
font-weight: bold; color:white;font-size:20px;}

/* SLIDER END */

/*FILLER SHITS*/
#bottomWrapper {margin: 0 auto;width: 1200px;height: auto;position: relative;top: 0px;left: 7px;}
#bigQuote {font-size: 38px;text-transform: uppercase;padding: 0 0 10px 0px; color: #9c9a9a;margin: 20px 0 0px 0px;}
#bigQuote span:first-child {font-weight: bold;color: #2297d4;}
.horizontalDivider {width: 1162px;height: 1px;background:#bcbcbc;margin: 30px 0 40px 0px;}

.featureBox {width: 368px;height: 400px; float: left;margin: 0 30px 0 0px;}
.featureIcon {float: left;margin-right: 10px;}
.featureBox h2 {color: #2297d4;}
.featureBox h2, .featureBox h4 {font-weight: normal;text-transform: uppercase;}
.featurePic {margin: 10px 0 0 0px;}
.featureBox p {font-size: 14px; color: #9e9e9e;}
.blueTitle {color:#2297d4;text-transform: uppercase;}
.featureBox ul li {margin: 20px 0 0 -40px;list-style-type: none;}
.featureBox ul li a {padding: 0 0 0 30px;background: url(../img/bullet.jpg)no-repeat center left; text-decoration: none;color: #2297d4;}
/*FILLER SHITS END*/


/* CONTACTS */
#generalWrapper {margin: 0 auto;width: 1200px;height: auto;position: relative;top: 0px;left: 7px;margin-top: -50px;}
#generalWrapper h2 {color: #2297d4;font-size: 30px;}
#map {border: 5px solid #2297d4;}
.contactBox {float: left;margin-right: 200px;}
.contactBox a {text-decoration: none;color: #2297d4 ;}
.contactBox a:hover {text-decoration: underline;}
/*CONTACTS END*/


/* SERVICE */
.serviceBox {width: 368px;height: 400px; float: left;margin: 0 30px 0 0px;}
.serviceBox h2 {height: 80px;width: 400px;font-weight: normal; text-transform: uppercase;
               position: relative;left: 15px;top: -5px;font-size: 20px!important;display: table-cell; vertical-align: middle;
               color: #2297d4;}
.serviceBox p {font-size: 14px;color: #707070;}
.circle {float:left;width: 41px;height: 53px;border-radius: 50%;background: #2297d4;padding: 13px 0 0 24px; font-size: 34px;font-family: Impact;color: white; }
.fix {padding: 13px 0 0 20px;width: 48px;}
/* SERVICE END*/

/* REQUEST */
#generalWrapper h1 {margin: 0 auto;width: 245px;font-size: 60px;color: #424952;margin-top: -10px;}
.formField {min-height: 100px;width: 1166px;background: #cfe9f6;border: 1px solid #424952;margin-bottom: 20px;}
#generalWrapper .formField h2 {color: #424952; float: left;}
.formField table {clear: both;width: 100%;margin: 0 auto;width: 1110px;margin: 0 0 0 0px;}
.formField table input {width: 100%;height: 62px;text-transform: uppercase;padding: 0 0 0 15px;color: #a4a8ae;border: 1px solid #424952;margin: 0 0 20px 0px;}
.formField table input:last-child {margin: 0 0 37px 0px;}
.formField table label {text-transform: uppercase;color: #424952;margin: 0 0 0 15px;position: relative;top: -5px;}
.formField table td {padding-left: 35px;}
.formField table input[type = radio] {width: 20px;height: 20px;margin: 10px 0 20px 10px;}
input[type = submit],input[type = reset], #printBtn, #FleetRequestBtn {width: 358px;height: 93px;font-size: 36px;font-weight: bold;margin: 20px 20px 40px 0px;
background: #25a2d8; /* Old browsers */
background: -moz-linear-gradient(top,  #25a2d8 0%, #1f8ed1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#25a2d8), color-stop(100%,#1f8ed1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #25a2d8 0%,#1f8ed1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #25a2d8 0%,#1f8ed1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #25a2d8 0%,#1f8ed1 100%); /* IE10+ */
background: linear-gradient(to bottom,  #25a2d8 0%,#1f8ed1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25a2d8', endColorstr='#1f8ed1',GradientType=0 ); /* IE6-9 */
cursor: pointer;color: white;
border: 0;}
input[type = submit]:hover, #FleetRequestBtn:hover {
background: #3eaee0; /* Old browsers */
background: -moz-linear-gradient(top,  #3eaee0 0%, #339eda 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3eaee0), color-stop(100%,#339eda)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3eaee0 0%,#339eda 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3eaee0 0%,#339eda 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3eaee0 0%,#339eda 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3eaee0 0%,#339eda 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3eaee0', endColorstr='#339eda',GradientType=0 ); /* IE6-9 */

}
input[type = reset] {background: #fbdec0; /* Old browsers */
background: -moz-linear-gradient(top,  #fbdec0 0%, #f9d3ac 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbdec0), color-stop(100%,#f9d3ac)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fbdec0 0%,#f9d3ac 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fbdec0 0%,#f9d3ac 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fbdec0 0%,#f9d3ac 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fbdec0 0%,#f9d3ac 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbdec0', endColorstr='#f9d3ac',GradientType=0 ); /* IE6-9 */
}

label > span {color: #df2c2c;}
/* REQUEST END*/


/* FOOTER */
footer {width: 100%;height: 82px;background: #424952;}
#footerBox {width: 1200px; margin: 0 auto;}
#footerBox img {margin: 25px 0 0 0px;float: left;}
#socialBoxFooter {width: 150px; height: 35px;float: right; margin: 25px 0 0 0px;}
#socialBoxFooter a {display: block;width: 35px;height: 36px;background: url(../img/social_sprite.jpg)no-repeat;float: left;text-indent: -9999px;
margin: 0 0 0 10px;}
#facebookBtn:hover {background-position: 0px -36px;}
#socialBoxFooter #twitterBtn {background-position: -35px 0px;}
#socialBoxFooter #twitterBtn:hover {background-position: -35px -36px;}
#socialBoxFooter #googleBtn {background-position: -70px 0px;}
#socialBoxFooter #googleBtn:hover {background-position: -70px -36px;}
/* FOOTER END*/



@media (max-width: 1480px)
{
    .slide p .firstRow {
        font-size: 40px;
    }
    .slide p .secondRow {font-size: 60px; font-weight: bold;position: relative;top: -15px;}
    .slide p {margin: 0 auto;width: 1000px;position: relative;z-index: 4;top: -380px;left: -80px;color: white;}
    .slide p a.readMore {display: block; background: #2297d4;padding: 16px 9px 20px 18px;width: 146px;height: 15px; text-decoration: none;
font-weight: bold; color:white;font-size:18px;}

#bottomWrapper { margin: 0 auto;width: 1200px;height: auto;position: relative;top: 0px;left: 7px; margin-top: -140px;}
    
}