.advanced-slider
{
	position:relative;
	overflow:visible;
	background-color:#FFF;
	border:4px solid #FFF;
	-moz-box-shadow: 0px 0px 10px #CCC;
	-webkit-box-shadow: 0px 0px 10px #CCC;
	box-shadow: 0px 0px 10px #CCC;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#CCCCCC')";
}


.advanced-slider .slide
{
	position:absolute;
	width: 100%;
	height: 100%;
	z-index:10;
}


.advanced-slider .slice
{
	display:block;
	position:absolute;
}


.advanced-slider .preloader
{
	background:url(slider-assets/images/preloader2.gif) no-repeat;
	width:62px;
	height:14px;
	position:absolute;
	z-index:15;
}


.advanced-slider .arrow-navigation a
{
	background:url(slider-assets/images/arrows.png) no-repeat;
	position:absolute;
	z-index:30;
	cursor:pointer;
	width:38px;
	height:38px;
	top:156px;
}


.advanced-slider .arrow-navigation .left-arrow
{
	left:20px;
}


.advanced-slider .arrow-navigation .right-arrow
{
	right:20px;
	background-position:-38px 0px;
}


.advanced-slider .slideshow-controls
{
	background:url(slider-assets/images/playpause.png) no-repeat;
	position:absolute;
	z-index:40;
	width:38px;
	height:38px;
	cursor:pointer;
	top:156px;
	left:356px;
}


.advanced-slider .slideshow-pause
{
	background-position: 0px 0px;
}


.advanced-slider .slideshow-play
{
	background-position: -38px 0px;
}


.advanced-slider #timer-animation
{
	position:absolute;
	top:20px;
	right:20px;
	z-index:60;
}


.advanced-slider .buttons-navigation
{
	position:absolute;
	z-index:50;	
	top:105%;
}


.advanced-slider .buttons-navigation a
{
	background:url(slider-assets/images/buttons.png) no-repeat;
	background-position:0px 0px; 
	position:relative;
	cursor:pointer;
	float:left;
	width:14px;
	height:14px;
	margin: 0px 2px;
}


.advanced-slider .buttons-navigation .out
{
	background-position:0px 0px; 
}


.advanced-slider .buttons-navigation .over
{
	background-position:-14px 0px; 
}


.advanced-slider .buttons-navigation .select
{
	background-position:-28px 0px; 
}


.advanced-slider .buttons-navigation .thumbnail
{
	background-image:url(slider-assets/images/preloader.gif);
	background-color:#FFF;
	background-position:center;
	background-repeat:no-repeat;
	position:absolute;
	overflow:hidden;
	width:80px;
	height:50px;
	border:solid 3px #333;
	margin-bottom:10px;
}


.advanced-slider .caption-container
{
	overflow:hidden;
	position:absolute;
	z-index:20;
}


.advanced-slider .caption-wrapper
{
	position:absolute;
}


.advanced-slider .caption-background
{
	background-color:#000;
	position:absolute;
	z-index:10;
	width:100%;
	height:100%;
}


.advanced-slider .caption-container .caption-content
{	
	position:absolute;
	color:#FFF;
	margin:0px;
	padding:10px;
	z-index:20;
}


.advanced-slider .caption-container .caption-content a
{
	color:#FFF;
}


.advanced-slider .caption-container .caption-content u
{
	font-size:16px;
}