<div class="container">
    <div class="row text-center">
        <h2>Галерия</h2>
        <p>Разгледайте инфраструктурата, стайте и обстановката в нашия дом.</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Филтър: <button>Всички</button> <button>Природа</button> <button>Стаи и обзавеждане</button> <button>Ежедневие</button></p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4 gallery-col">
            <a class="lightbox lightbox-frame" href="img/gallery/image-1.jpg" data-lightbox="gallery" data-category="environment">
                <img src="img/gallery/thumbs/image-1.jpg" alt=""/>
            </a>
            <p class="gallery-image-description">
                <strong class="gallery-image-title">Title of the image</strong><br/>
                Description of the image!Description of the image!Description of the image!
                Description of the image!Description of the image!Description of the image!
            </p>
        </div>
        <div class="col-md-4 gallery-col">
            <a class="lightbox lightbox-frame" href="img/gallery/image-2.jpg" data-lightbox="gallery" data-category="environment">
                <img src="img/gallery/thumbs/image-2.jpg" alt=""/>
            </a>
            <p class="gallery-image-description">
                <strong class="gallery-image-title">Title of the image</strong><br/>
                Description of the image!Description of the image!Description of the image!
                Description of the image!Description of the image!Description of the image!
            </p>
        </div>
        <div class="col-md-4 gallery-col">
            <a class="lightbox lightbox-frame" href="img/gallery/image-3.jpg" data-lightbox="gallery" data-category="environment">
                <img src="img/gallery/thumbs/image-3.jpg" alt=""/>
            </a>
            <p class="gallery-image-description">
                <strong class="gallery-image-title">Title of the image</strong><br/>
                Description of the image!Description of the image!Description of the image!
                Description of the image!Description of the image!Description of the image!
            </p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4 gallery-col">
            <a class="lightbox lightbox-frame" href="img/gallery/image-1.jpg" data-lightbox="gallery" data-category="environment">
                <img src="img/gallery/thumbs/image-1.jpg" alt=""/>
            </a>
            <p class="gallery-image-description">
                <strong class="gallery-image-title">Title of the image</strong><br/>
                Description of the image!Description of the image!Description of the image!
                Description of the image!Description of the image!Description of the image!
            </p>
        </div>
        <div class="col-md-4 gallery-col">
            <a class="lightbox lightbox-frame" href="img/gallery/image-2.jpg" data-lightbox="gallery" data-category="environment">
                <img src="img/gallery/thumbs/image-2.jpg" alt=""/>
            </a>
            <p class="gallery-image-description">
                <strong class="gallery-image-title">Title of the image</strong><br/>
                Description of the image!Description of the image!Description of the image!
                Description of the image!Description of the image!Description of the image!
            </p>
        </div>
        <div class="col-md-4 gallery-col">
            <a class="lightbox lightbox-frame" href="img/gallery/image-3.jpg" data-lightbox="gallery" data-category="environment">
                <img src="img/gallery/thumbs/image-3.jpg" alt=""/>
            </a>
            <p class="gallery-image-description">
                <strong class="gallery-image-title">Title of the image</strong><br/>
                Description of the image!Description of the image!Description of the image!
                Description of the image!Description of the image!Description of the image!
            </p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4 gallery-col">
            <a class="lightbox lightbox-frame" href="img/gallery/image-1.jpg" data-lightbox="gallery" data-category="environment">
                <img src="img/gallery/thumbs/image-1.jpg" alt=""/>
            </a>
            <p class="gallery-image-description">
                <strong class="gallery-image-title">Title of the image</strong><br/>
                Description of the image!Description of the image!Description of the image!
                Description of the image!Description of the image!Description of the image!
            </p>
        </div>
        <div class="col-md-4 gallery-col">
            <a class="lightbox lightbox-frame" href="img/gallery/image-2.jpg" data-lightbox="gallery" data-category="environment">
                <img src="img/gallery/thumbs/image-2.jpg" alt=""/>
            </a>
            <p class="gallery-image-description">
                <strong class="gallery-image-title">Title of the image</strong><br/>
                Description of the image!Description of the image!Description of the image!
                Description of the image!Description of the image!Description of the image!
            </p>
        </div>
        <div class="col-md-4 gallery-col">
            <a class="lightbox lightbox-frame" href="img/gallery/image-3.jpg" data-lightbox="gallery" data-category="environment">
                <img src="img/gallery/thumbs/image-3.jpg" alt=""/>
            </a>
            <p class="gallery-image-description">
                <strong class="gallery-image-title">Title of the image</strong><br/>
                Description of the image!Description of the image!Description of the image!
                Description of the image!Description of the image!Description of the image!
            </p>
        </div>
    </div>
</div>