<div class="container-fluid" style="background: #f7f7f7;">
    <div class="container">
        <div class="row text-center">
            <h2>Препоръки</h2>

            <p>Все още се колебаете дали да ни се доверите? Вижте какво казват някой от нашите клиенти.</p>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <strong>Атанас Алексиев</strong><br/>
                <span>(главен счетоводител)</span><br/>
                <img src="" alt="" class="person-thumbnail img-circle"/><br/>

                <p><span class="quote-character">"</span>Продыжщэт зюжкепиантюр вим эю, ед кашы
                    аляквюид ёудёкабет мэя. Ыюм июварыт </p>
            </div>
            <div class="col-md-3">
                <strong>Атанас Алексиев</strong><br/>
                <span>(главен счетоводител)</span><br/>
                <img src="" alt="" class="person-thumbnail img-circle"/><br/>

                <p><span class="quote-character">"</span>Продыжщэт зюжкепиантюр вим эю, ед кашы
                    аляквюид ёудёкабет мэя. Ыюм июварыт </p>
            </div>
            <div class="col-md-3">
                <strong>Атанас Алексиев</strong><br/>
                <span>(главен счетоводител)</span><br/>
                <img src="" alt="" class="person-thumbnail img-circle"/><br/>

                <p><span class="quote-character">"</span>Продыжщэт зюжкепиантюр вим эю, ед кашы
                    аляквюид ёудёкабет мэя. Ыюм июварыт </p>
            </div>
            <div class="col-md-3">
                <strong>Атанас Алексиев</strong><br/>
                <span>(главен счетоводител)</span><br/>
                <img src="" alt="" class="person-thumbnail img-circle"/><br/>

                <p><span class="quote-character">"</span>Продыжщэт зюжкепиантюр вим эю, ед кашы
                    аляквюид ёудёкабет мэя. Ыюм июварыт </p>
            </div>
        </div>
    </div>
</div>